# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore package files
*.tar.gz
*.zip
*.jar
packages.config

# Ignore logs and databases
*.log
*.sql
*.sqlite

# Ignore temporary files
*.tmp
*.temp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.csproj

# Ignore specific folders
.git/**
.vs/**
bin/**
obj/**
packages/**
